<ion-view view-title="About">
    <ion-content id="list">
        <div class="card" style="width:90%;margin:25px auto;">
            <div class="item item-text-wrap">
                <img ng-src="assets/img/banner.png">
                <p style="color:black;text-align:left;">Located in Chattanooga, TN, delivers integrated marketing solutions under one roof, saving you time, money
                    and energy.</p>
                <div class="item item-icon-left">
                    <i class="icon ion-iphone"></i>
                    <a href="tel:423-867-2677">423-867-2677</a>
                </div>
                <div class="item item-icon-left">
                    <i class="icon ion-email"></i>
                    <a href="mailto:contact@videoideas.com">contact@videoideas.com</a>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>